<template>
    <div class="answer">
        <el-row>
            <el-col :span="5" :xs="24" class="left" >
                <h4 class="pcShow">{{$t('faq.other')}}</h4>
                <p class="moveShow" @click="showList">{{$t('faq.other')}}
                    <i class="fr el-icon-arrow-down"></i>
                    <i class="fr el-icon-close"></i>
                </p>
                <div  @click="changePro" class="problemList">
                    <el-menu
                        :default-active="activeIndex"
                        class="el-menu-vertical-demo"
                        >
                        <el-menu-item v-for="(item,index) in $t('faq.kindList')[type]" 
                            :key="index"
                            :index="index+''"
                            :data-index="index"> {{item}}
                        </el-menu-item>
                    </el-menu>
                    <h4>
                        <router-link to="/service">{{$t("faq.more")}} </router-link>
                    </h4>
                </div>
            </el-col>
            <el-col :span="18" :xs="24" class="right" >
                <h1>{{title}}</h1>
                <div class="clearfloat">
                    <!-- <img src="../../static/img/seallogo.png" alt="" class="img fl"> -->
                    <div class="fl">
                        <h4>
                            {{$t('faq.title')}}
                        </h4>
                        <p class="colorefefef"> {{ dateNum | dateFormat('yyyy-MM-dd hh:mm:ss')}}
                            · {{ $t('faq.create')}} ·  south
                        </p>
                    </div>
                </div>
                <aside class="content"
                    v-loading="ansLoad"
                    :element-loading-text="$t('faq.loading')"
                    >
                    <div v-if="type === 'basic' || type === 'security'" v-html="$t('faq.answer')[title]" class="answer-txt">
                    </div>
                    <div v-else id="ifrBox">
                        <!-- <iframe src="../../static/file/zh/test/HowoackupealDallet.pdf.html" width="180%" height="100vh" frameborder="0" scrolling="no" id="faqIframe"></iframe> -->
                       <iframe :src="$t('faq.answer.iframe')[title]" width="200%" height="100" frameborder="0" scrolling="no" id="faqIframe"></iframe>
                    </div>
                </aside>
            </el-col>
        </el-row>
    </div>
</template>

<script>
export default {
    data(){
        return{
            problemList:[],
            type:"",
            activeIndex:"",
            title:"",
            ansLoad:false,
            dateNum:"",
        }
    },
    methods:{
        init(){
            let data = this.$t('faq.kindList')[this.type];
            this.title = data[this.activeIndex];
            this.dateNum = 1540873175718 - 100000 * parseInt(Math.random()*100000);
                if(document.getElementById("app").clientWidth <= 750){
                    document.querySelector('.problemList').style.height=0;
                }
                if(this.type === "guidance"){
                    this.setIframeHeight(document.getElementById("faqIframe"))
                }else{
                    setTimeout(()=>{
                        document.querySelector(".answer-txt").style.marginLeft="0";
                        document.querySelector(".answer-txt").style.height="auto";
                    },0)
                }
        },
        changePro(e){
            if(e.target.nodeName.toLowerCase() === 'li'){
                this.dateNum = 1540873175718 - 100000 * parseInt(Math.random()*100000);
                let num = e.target.dataset.index;
                window.sessionStorage.setItem("activeIndex",num);
                this.title = this.$t('faq.kindList')[ this.type][num];
                if(this.type === "guidance"){
                    this.$parent.reload();
                    this.setIframeHeight(document.getElementById("faqIframe"));
                }
            }
            if(document.getElementById("app").clientWidth <= 750){
                if(e.target.nodeName.toLowerCase() === 'a' || e.target.nodeName.toLowerCase() === 'li'){
                    document.querySelector('.problemList').style.height="0";
                    document.querySelector('.problemList').style.display="none";
                    document.querySelector(".moveShow .el-icon-arrow-down").style.display = "block";
                    document.querySelector(".moveShow .el-icon-close").style.display = "none";
                }
            }
        },
        setIframeHeight(iframe) {
             if (iframe) {
                iframe.onload = function(){  
                    var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                    if (iframeWin.document.body) {
                        let ifrBox = document.getElementById("ifrBox");
                        // 使用 iframe.document.documentElement.scrollHeight 当加载页面交长后,切换页面较小时,iframe的高度不会变化
                        let wd = iframeWin.document.body.scrollWidth || iframeWin.document.documentElement.scrollWidth;
                        // let wd = 800;
                        let ht = iframeWin.document.body.scrollHeight || iframeWin.document.body.scrollHeight;
                        let x = (document.getElementById("app").clientWidth / wd) * 1.48;
                        x = x > 1.2? 1.2 : x;
                        console.log(x);
                        
                        // alert(iframeWin.document.documentElement.scrollHeight);
                        iframe.width = wd ;
                        iframe.height = ht;
                        iframe.style.transform = `scale(${x})`;
                        iframe.style.transformOrigin='0 0';
                        if(document.getElementById("app").clientWidth <= 750){
                            iframe.style.marginLeft = -13/x   + "vw";
                            iframe.style.marginTop = -8/x + "vw";
                        }
                        ifrBox.style.height = ht*x + 'px';
                        this.ansLoad = false;
                    }      
                };
            }
        },
        fixIframe(){
            var box=document.querySelector(".h5box");
            var frame=box.querySelector("iframe");
            var screenWidth=window.outerWidth||document.documentElement.clientWidth;
            var screenHeight=window.outerHeight||document.documentElement.clientHeight;
            var movieWidth=parseInt(frame.width||frame.style.width);
            var movieHeight=parseInt(frame.height||frame.style.height);
            var vScale=screenHeight/movieHeight;
            var hScale=screenWidth/movieWidth;
            
            var scale=Math.min(vScale,hScale,1);
            
            
            var frameLeft=movieWidth*(scale-1)/2;
            var frameTop=movieHeight*(scale-1)/2;
            
            frame.style.transform="scale("+scale+")";
            frame.style.webkitTransform="scale("+scale+")"; 
            frame.style.mozTransform="scale("+scale+")"; 
            frame.style.left=frameLeft;
            frame.style.top=frameTop;
            frame.style.margin="auto";
            frame.style.position="relative";
            
            box.style.width="100%";
            box.style.height=movieHeight*scale;
            box.style.overflow="hidden";
            box.style.minHeight=movieHeight*scale;
            box.style.textAlign="center"; 
        },
        showList(){
            let problemList = document.querySelector('.problemList');
            let icon =  document.querySelector(".moveShow .el-icon-arrow-down");
            let close = document.querySelector(".moveShow .el-icon-close");
            if(problemList.clientHeight === 0){
                problemList.style.height="auto";
                problemList.style.display="block";
                icon.style.display = "none";
                close.style.display = "block";
            }else {
                problemList.style.height="0";
                problemList.style.display="none";
                icon.style.display = "block";
                close.style.display = "none";
            }
        }
    },
    activated(){
        let num = window.sessionStorage.getItem("activeIndex");
        let type = this.type;
        this.type = this.$route.query.type;
        if(num || num === 0){
            this.activeIndex = num ;
        }else {
            this.activeIndex = this.$route.query.index;
        }
        this.init();
    }
}
</script>

<style  scoped>
.answer{
    width: 100vw;
    max-width: 1200px;
    min-height: calc(100vh - 290px);
    margin: 0 auto;
    margin-top: 30px;

}
.colorefefef{
    color: #999999;
}
.el-menu{
    border: 0;
}
.el-menu-item {
    border-radius: 6px;
    /* margin-bottom: 4%; */
    word-wrap:break-word;
    word-break:break-all;
}
.el-menu-item:hover {
    /* background: #137cf0;
    color: #ffffff; */
    background: #ffffff;
}
.answer .el-menu-item.is-active{
  background: #14a969;
  color: #ffffff;
}
.answer .right{
    text-align: left;
    padding: 0 5%;
}
.answer .right .img{
    width: 60px;
    margin-right: 16px;
}
.answer .right .fl h4{
    margin: 10px 0;
}
.answer .right .answer-txt{
    padding: 20px 0;
    text-indent:2em;
    width: 100%;
    max-width: 800px;
    line-height: 1.8em;
    letter-spacing:0.03em;
}
.answer .right .content{
    min-height: 30vh;
}
.answer-txt p {
    margin: 10px 0 ;
}
#ifrBox{
    width: 100%;
    overflow: hidden;
}
#faqIframe{
    margin-top: -9vh;
    margin-left: -8.8vw;
}
@media screen and (max-width:768px) {
    .answer {
        padding: 0 5%;
        width: 90%;
        min-height: calc(100vh - 245px);
    }
    .answer .left {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .left .moveShow .el-icon-close{
        display:none;
    }
    .answer .problemList {
        height: 0;
        overflow: hidden;
        transition: all 0.1 linear;
    }
    .answer .left p{
        text-align: left
    } 
    .answer .right{
        padding: 0;
    }
    .answer .right h1{
        font-size: 1.3em
    }
    #faqIframe{
        margin-top: -7vh;
        margin-left: -12vw;
    }
}
</style>

