<template>
    <div :class="{'footer': true, 'footer-other': type != 'index'}">
      <div class="footer-bgm">
        <div class="footer-content ">
          <el-row :gutter="12">
            <el-col :span="6" :xs="8" class="seal-logo">
              <div style="">
                <img :src="type === 'index'? $t('navMenu.logo') : $t('footer.logo') " alt="InWeCrypto">
              </div>
            </el-col>
            <el-col :span="10" :xs="16" class="tag" >
              <!-- <ul>
                <li>
                  <router-link to="/">
                    {{ $t('navMenu.title[1]') }}
                  </router-link>
                </li>
                <li>
                  <router-link to="/">
                    {{ $t('navMenu.title[2]') }}
                  </router-link>
                </li>
                <li>
                  <router-link to="/">
                    {{ $t('navMenu.title[3]') }}
                  </router-link>
                </li>
              </ul> -->
              <ul> 
                <li>
                  <router-link to="/service">
                    {{ $t('navMenu.title[4]') }}
                  </router-link>
                  </li>
                <li>
                    <a href="https://github.com/sealwallet"></a>
                    {{ $t('navMenu.title[5]') }}
                </li>
              </ul>
            </el-col>
            <el-col :span="8" :xs="0" class="contact" >
              <div >
                <div class="title" >
                  <p >{{ $t('footer.email[0]') }}</p>
                  <p >{{ $t('footer.email[1]') }}</p>
                </div>
                <div class="email">
                  <p >{{ $t('footer.email[2]') }}</p>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  data(){
    return{

    }
  },
  props:['type'],
}
</script>

<style scoped>
.footer{
  width:100%;
  background-color: #006e53;
  color: #ffffff;
}
.footer-other{
  background-color: #fafafa;
}
.footer-bgm{
  height: 85px;
  padding-top: 95px;
  /* background:url(../../static/img/new/footer.png) no-repeat;
  background-size: 44%;
  background-position-x: 100%; */
}
.footer-other .footer-bgm{
  /* height: 145px;
  padding-top: 145px;
  background: url(../../static/img/new/footer-other.png)  no-repeat;
  background-size: 44%;
  background-position-x: 100%; */
  color: #333333
}
.footer-content{
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
  transform: translateY(-50%)
}
.seal-logo>div{
    text-align: left;
    padding-left: 20px;
}
.contact>div{
    padding: 0 3%;
    text-align: center;
}
.tag{
  font-size:0; 
}
.tag a{
  color: #ffffff;
}
.footer-other .tag a{
  color: #333333;
}
.tag ul {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  vertical-align: top;
}
.tag ul li {
  padding: 10px;
}
.contact .title,
.contact .email{
  text-align: left;
}
.contact p{
    margin: 0 ;
}
.seal-logo img {
  width: 160px;
}
.contact .title p{
  line-height: 2em;
}
.contact .email p{
    line-height: 2em;
}
@media screen and (max-width: 768px){
  .footer-content{
    padding: 16px 0;
  }
  .footer-bgm,
  .footer-other .footer-bgm {
    height: 115px;
    padding-top: 40px;
    background: url();
  }
  .footer-content{
    transform: translateY(-10%)
  }
  .seal-logo>div{
    text-align: center;
    padding: 0;
    height: auto;
  }
  .contact .title p:last-child{
    margin-left: 4%;
  }
  .seal-logo img {
    width: 100%;
    margin-left: 5%;
  }
  .contact {
    font-size: 12px;
  }
  .contact p {
    display: inline-block;
    vertical-align: top;
    width: auto;
    text-align: left;
  }
  .contact .title{
    width: 52%;
  }
  .contact .email{
    text-align: left;
    width: 44%;
  }
  .contact .email p{
    line-height: 32px;
    margin-left:0;
  }
  .tag ul {
    font-size: 12px;
  }
}
</style>
