<template>
  <div class="index">
    <div  class="bannerBox">
      <div class="screen-1">
        <img class="screen-1_bg" alt="">
        <div class="screen-1_txtBox">
          <h1 :class="{ font40 : $i18n.locale === 'en'}" v-html="$t('index.screen1Title')"></h1>
          <p v-html="$t('index.screen1Title1')"></p>
          <div>
              <!-- <a v-for="(item,index) in $t('index.screen1Btn')" :key="index" slot="reference" @click="$router.push({name:'download',query:{model:item.name}})" v-if="item.name === 'IOS'" >
                {{item.name }}
              </a> -->
               <button v-for="(item,index) in $t('index.screen1Btn')" :key="index" slot="reference" class="btn" >
                  {{item.name }} </button>
              <!-- <el-popover placement="bottom" trigger="hover" v-for="(data,index) in $t('index.screen1Btn')" :key="index" class="download-btn" v-if="data.name === 'Android'">
                <img class="QRCode" :src="data.link" alt="QRCode">
                <p>{{ data.txt }}</p>
                <a slot="reference" href="javascript:;" >
                  {{ data.name }}</a>
            </el-popover> -->
          </div>
          <p v-html="$t('index.statement')" style="margin-top:30px;font-size:16px"></p>
        </div>
      </div>
    </div>
    <!-- <div class="screen-2 clearfloat">
       <el-row :gutter="12" >
        <el-col :span="12" :xs="24" class="seal-logo">
          <div class="fl">
            <h2 class="title">{{$t('index.screen2Title')}}</h2>
            <p>{{$t('index.screen2Content1')}}</p>
            <p>{{$t('index.screen2Content2')}}</p>
            <button class="btn" >{{$t('toMuch')}}</button>
          </div>
        </el-col>
        <el-col :span="12" :xs="24" class="seal-logo">
          <div class="fr">
            <ul>
              <li v-for="(item,index) in $t('index.screen2advList')" :key="index" class="item">
                <img :src="item.src" alt="">
                <h3>{{item.title}}</h3>
                <p>{{item.content}}</p>
              </li>
            </ul>
          </div>
        </el-col>
       </el-row>

    </div> -->
    <!-- <div class="screen-4">
      <div class="wallet-title">
        <h2 class="title">{{$t('index.screen4Title.title')}}</h2>
        <p>{{$t('index.screen4Title.content')}}</p>
      </div>
      <el-row :gutter="12">
        <el-col :span="14" :xs="24">
            <div class="wallet-imgBox">
              <img :src="$t('index.screen4Title.src')" alt="">
            </div>
            <div class="imgLine pcShow">
              <img src="../../static/img/new/top.png" alt="">
            </div>
        </el-col>
        <el-col :span="10" :xs="24">
          <div class="wallet-txtBox">
            <ul>
              <li v-for="(item, index) in $t('index.screen4Content')" :key="index" class="advItem clearfloat">
                <div class="fl imgBox">
                  <img :src="item.src" alt="" >
                </div>
                <div class="fl content">
                  <h3>{{item.title}}</h3>
                  <p>{{item.content}}</p>
                </div>
              </li>
            </ul>
          </div>
        </el-col>
      </el-row>
    </div> -->
    <div class="screen-5">
      <div class="wallet-title">
        <h2 class="title">{{$t('index.screen5Title.title')}}</h2>
        <p>{{$t('index.screen5Title.content')}}</p>
      </div>
      <el-row :gutter="12">
        <el-col :span="12" :sm="0" :xs="24">
          <div class="wallet-imgBox">
            <img :src="$t('index.screen5Title.src')" alt="">
          </div>
        </el-col>
        <el-col :span="10" :xs="24">
          <div class="wallet-txtBox">
            <ul>
              <li v-for="(item, index) in $t('index.screen5Content')" :key="index" class="advItem clearfloat">
                <div class="fl imgBox">
                  <img :src="item.src" alt="" >
                </div>
                <div class="fl content">
                  <h3>{{item.title}}</h3>
                  <p>{{item.content}}</p>
                </div>
              </li>
            </ul>
          </div>
        </el-col>
        <el-col :span="14" :sm="14" :xs="0">
          <div class="wallet-imgBox">
            <img :src="$t('index.screen5Title.src')" alt="">
          </div>
          <!-- <div class="imgLine bottom">
            <img src="../../static/img/new/buttom.png" alt="">
          </div> -->
        </el-col>
      </el-row>
    </div>
    <!-- <div class="screen-6">
      <div class="wallet-title">
        <h2 class="title">{{$t('index.screen6Title.title')}}</h2>
        <p>{{$t('index.screen6Title.content')}}</p>
      </div>
      <el-row :gutter="12">
        <el-col :span="14" :xs="24">
          <div class="wallet-imgBox">
            <img :src="$t('index.screen6Title.src')" alt="">
          </div>
        </el-col>
        <el-col :span="10" :xs="24">
          <div class="wallet-txtBox">
            <ul>
              <li v-for="(item, index) in $t('index.screen6Content')" :key="index" class="advItem clearfloat">
                <div class="fl imgBox">
                  <img :src="item.src" alt="" >
                </div>
                <div class="fl content">
                  <h3>{{item.title}}</h3>
                  <p>{{item.content}}</p>
                </div>
              </li>
            </ul>
          </div>
        </el-col>
      </el-row>
    </div> -->
    <div class="screen-7">
      <div class="wallet-title">
        <h2 class="title">{{$t('index.screen7Title.title')}}</h2>
        <p>{{$t('index.screen7Title.content')}}</p>
      </div>
      <div class="screen-7-contentBox">
        <div class = "contentBox">
          <span class="arrow-left" @click="right" v-if="1 === 0"></span>
          <div class="assetBox">
            <div  v-for="(item,index) in $t('index.screen7List1')" :key="index" class="item" v-if="index < 6 ">
              <div class="EcosystemBox" >
                <div class="imgbox" :xs="24" >
                  <img :src="item.icon" :alt="item.name" class="">
                </div>
                <p >{{ item.name }}</p>
              </div>
            </div>
          </div>
          <span class="arrow-right" @click="left" v-if="1 === 0"></span>
        </div>
      </div>
    </div>
    <!-- <div class="screen-8">
      <div class="wallet-title">
        <h2 class="title">{{$t('index.screen8Title.title')}}</h2>
      </div>
      <div class="screen-8-contentBox">
        <div class="inputBox">
          <el-input
            :placeholder="$t('index.screen8Input.name')"
            v-model="name"
            clearable>
          </el-input><el-input
            :placeholder="$t('index.screen8Input.phone')"
            v-model="phone"
            clearable>
          </el-input><el-input
            :placeholder="$t('index.screen8Input.email')"
            v-model="email"
            clearable>
          </el-input>
        </div>
        <div class="textareaBox">
          <el-input
            type="textarea"
            :autosize="{ minRows: 11, maxRows: 11}"
            resize="none"
            :placeholder="$t('index.screen8Input.content')"
            v-model="content">
          </el-input>
        </div>
        <a :href="'mailto:sealwallet@gmail.com?subject=' + $t('index.emailTitle') + '&body=' + getContent()">
          <button class="btn">{{$t('index.screen8Btn')}}</button>
        </a>
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'index',
  data () {
    return {
      name:"",
      phone:"",
      email:"",
      content:"",
      setTime:null,
      autoTime:null
    }
  },
  methods:{
    autoRun(num){
      if(this.autoTime){
        clearTimeout(this.autoTime)
      }
      let data = this.$t('index.screen7List1');
      let tag = document.querySelector('.assetBox');
      if(!this.setTime){
        if(!tag)return;
        tag.style.transition = "all 0.8s ease";
        tag.style.marginLeft = 2 * num + "%";
        this.setTime = setTimeout(() => {
          this.setTime = null;
          tag.style.marginLeft = num + "%"
          tag.style.transition = "";
          data = data.push(data.shift())
        },950)
      };
      this.autoTime = setTimeout(() => {
        this.autoRun(num);
        this.autoTime = null;
      },3000)
    },
    left(){
      if(this.setTime)return;
      this.setTime = setTimeout(() => {
        this.setTime = null;
        tag.style.marginLeft = "-25%"
        tag.style.transition = "";
        data = data.push(data.shift())
      },950)
      let data = this.$t('index.screen7List1');
      let tag = document.querySelector('.assetBox');
      // let marginLeft = tag.style.marginLeft;
      // marginLeft = marginLeft ? parseFloat(marginLeft) : marginLeft === 0 ? 0 : "-25";
      tag.style.transition = "all 0.8s ease";
      tag.style.marginLeft ="-50%";
    },
    right(){
        if(this.setTime)return;
      let data = this.$t('index.screen7List1');
      let tag = document.querySelector('.assetBox');
      // let marginLeft = tag.style.marginLeft;
      // marginLeft = marginLeft ? parseFloat(marginLeft) :  marginLeft === 0 ? 0 : "-25";
      tag.style.transition = "all 0.8s ease";
      tag.style.marginLeft = "0px";
      this.setTime = setTimeout(() => {
        this.setTime = null;
        tag.style.transition = "";
        tag.style.marginLeft = "-25%"
        data = data.unshift(data.pop())
      },950)
    },
    getContent(){
      let text = this.$t('index.screen8Input.name') + " : " + this.name + "; " + this.$t('index.screen8Input.phone') + " : " + this.phone + ";  " + this.$t('index.screen8Input.email') + " : " + this.email + ";  " + this.content;
      return text;
    }
  },
  activated(){
    let width = document.body.clientWidth;
    if(width < 768){
      this.autoRun(-33.333);
    }else {
      this.autoRun(-25);
    }
  },
  deactivated(){
    clearTimeout(this.setTime);
    clearTimeout(this.autoTime);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.arrow-left{
  position: absolute;
  top: 50%;
  left: 2px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-left::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top:10px;
  border-left: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  transform: rotate(45deg);

}
.arrow-left:hover,
.arrow-right:hover{
  background-color: #222222;
  opacity: 0.5;
}
.arrow-right{
  position: absolute;
  top: 50%;
  right: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: translateY(-50%);
}
.arrow-right::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top:10px;
  border-right: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
  transform: rotate(45deg);

}
.bannerBox {
  background:url("../../static/img/banner.png") no-repeat;
  background-position: 100% 100%;
  /* background-size: 100%; */
}
.screen-1{
  height: 100%;
  min-height: 820px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background:url('../../static/img/bgm-phone1.png') 0 0 no-repeat; 
  background-size: 60%;
  background-position: 112% 100%;
  position: relative;
}
.screen-1_txtBox{
  position: absolute;
  top:50%;
  left: 20px;
  width: 40%;
  transform: translateY(-60%);
  text-align: left;
}
.screen-1_txtBox h1{
  font-size: 46px;
  color: #FFFFFF;
  margin-bottom:50px;
  line-height: 1.3em;
}
.QRCode{
  width: 150px;
}
.screen-1_txtBox p{
  color: #FFFFFF;
  max-width: 500px;
  margin-bottom: 60px;
  font-weight: 400;
}
.screen-1_txtBox .btn{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #888888;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0 30px 0 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 4px;
  text-decoration: none;
  width: 150px;
  background-color: #cccccc;
  cursor:no-drop;
}

.screen-2{
  width: 90%;
  max-width: 1200px;
  margin: 110px auto 80px;
  padding: 0 5% ;
  text-align: left;
}
.screen-2 .fl {
  /* width: 42%; */
  padding:0 4%;
  margin-bottom: 50px;
}
.screen-2 .fr {
  /* width: 50%; */
}
h2.title{
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  margin-bottom: 30px;
}
.screen-2 .fl .btn{
  max-width: 220px;
  width: 60%;
  margin-top: 20px
}
p{
  color: #808aad;
  line-height: 1.5em;
  padding: 0;
}
.screen-2 .fl p {
  padding: 6px 0;
}
.screen-2 .fr ul {
  margin: 0;
}
.screen-2 .fr .item{
  vertical-align: top;
  display: inline-block;
  width: 34%;
  padding: 0 8% ;
  margin-bottom: 50px
}
.screen-2 .fr .item img{
  height: 38px;
}
.screen-2 .fr .item h3{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px
}
.screen-2 .fr .item p{
  margin: 0;
}
.screen-4,
.screen-5,
.screen-6 {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
}
.wallet-title {
  margin-bottom: 57px;
  padding: 0 5%;
}
.wallet-title h2.title{
  font-size: 24px;
}
.wallet-title p{
  max-width: 650px;
  width: 58%;
  margin: 0 auto;
}
.wallet-imgBox img{
  width: 46%;
  margin-bottom: 30px;
}
.imgLine{
  text-align: right;
}
.imgLine img{
  width: 36%;
  margin-right: 14%;
  margin-bottom: 20px;
}
.imgLine.bottom {
  text-align: left
}
.imgLine.bottom img{
  margin-left: 14%;
}
.wallet-txtBox .advItem{
  width: 100%;
  padding-left:20px;
  text-align: left;
  margin-bottom: 32px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.wallet-txtBox .advItem .imgBox{
  width: 24px;
  height: 22px;
  padding: 22px 21px 24px 30px;
  background: url(../../static/img/new/adv-bgm.png) no-repeat;
  background-size: 100%;
  margin-right: 29px;
}
.wallet-txtBox .advItem .content{
  width: 70%;
}
.wallet-txtBox .advItem .content h3{
  margin-top: 0;
}
.wallet-txtBox .advItem p{
  margin-bottom: 0;
}
.screen-5 .wallet-imgBox img{
  width: 42%;
}
.screen-6 {
  margin-bottom: 90px;
}
.screen-6 .wallet-imgBox img{
  width: 60%;
}
.screen-7 {
  margin: 0 auto;
  padding: 20px 0 0 0;
  position: relative;
}
.screen-7 .wallet-title p{
  max-width: 740px;
  width: 62%;
}
.screen-7-contentBox{
  padding: 0 0 50px 0;
  color:  #808aad;
}
.screen-7-contentBox .contentBox {
  box-sizing: border-box;
  width: 100%;
  max-width:1200px;
  height: 200px;
  padding: 40px 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.screen-7-contentBox h1{
  margin-bottom: 60px;
}
.screen-7-contentBox .imgbox{
  width: 70px;
  height: 74px;
  border-radius: 10px;
  background-color: #eaf9ff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen-7-contentBox .icon-bgm:nth-child(2) .imgbox{
  background-color: #f5f5f5;
}
.screen-7-contentBox .icon-bgm:nth-child(3) .imgbox{
  background-color: #fff0f3;
}
.screen-7-contentBox .icon-bgm:nth-child(4) .imgbox{
  background-color: #e4ffee;
}
.screen-7-contentBox .icon-bgm:nth-child(5) .imgbox{
  background-color: #fff7d3;
}
.screen-7-contentBox .icon-bgm:nth-child(6) .imgbox{
  background-color: #f4f4ff;
}
.screen-7-contentBox .imgbox img { 
  max-width: 28px;
}
.screen-7 .assetBox{
  width: 150%;
  font-size: 0;
  margin-left: -25%;
}
.screen-7 .item{
  display: inline-block;
  vertical-align: top;
  width:16.666666%;
  font-size: 14px;
}
.screen-7 .EcosystemBox{
  width: 60%;
  margin: 0 auto;
  transition: 0.6s;
  cursor: default;
  margin-bottom: 30px;
}
.screen-7 .EcosystemBox:hover{
  opacity: 0.8;
  transform:translateY(-6%)
}
.screen-7 .EcosystemBox:hover p{
  color:#E1E1E1;
} 
.screen-8 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.screen-8-contentBox{
  max-width: 1000px;
  width: 90%;
  margin: 100px auto;
}

.screen-8-contentBox .inputBox{
  border: 2px solid  #e8effc;
  padding: 8px 0;
  margin-bottom: 14px;
}
.screen-8-contentBox .textareaBox {
  margin-bottom: 30px;
}
.screen-8-contentBox .btn{
  width: 100%;
  height: 50px;
}
@media screen and (max-width:768px) {
  .screen-1{
    min-height: 600px;
    padding: 0 5%;
    background-size: 80%;
    background-position: -4% 97%;
  }
  .QRCode{
    width: 140px;
  }
  .font40{
    font-size: 24px !important;
  }
  .bannerBox {
    margin: 0;
  }
  .screen-1_txtBox {
    width: 90vw;
    top: 5%;
    left: 5%;
    text-align: center;
    transform: translateY(0)
  }
  .screen-1 .screen-1_txtBox h1{
    font-size: 26px;
    margin-bottom: 42px;
  }
  .screen-1 .screen-1_txtBox p{
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
  }
  .screen-1_txtBox a{
    width: 30%;
    padding: 6px 20px;
  }
  .screen-2 {
    margin: 60px auto 10px;
  }
  .screen-2 .fl{
    text-align: center;
    padding: 0;
  }
  .screen-2 .fr .item {
    width: 40%;
    padding: 0 5%;
  }
  .screen-2 .fl .btn{
    width: 40%;
  }
  h2.title {
    margin-bottom: 20px;
  }
  .wallet-title h2.title {
    font-size: 18px;
  }
  .wallet-title p{
    width: 100%;
  }
  .wallet-imgBox{
    margin-bottom: 30px;
  }
  .wallet-txtBox{
    padding: 0 5%;
  }
  .wallet-txtBox .advItem {
    padding-left: 0;

  }
  .wallet-txtBox .advItem .imgBox{
    margin-right: 16px;
    padding:12px 11px 14px 20px;
  }
  .wallet-txtBox .advItem .content{
    width: 76%;
  }
  .imgBox img {
    width: 20px;
  }
  .screen-4,
  .screen-5,
  .screen-6{
    margin-bottom: 40px;
  }
  .screen-7 .assetBox {
    width: 200%;
    margin-left: -33.33333%;
  }

  .screen-7 .item{
    /* width: 33.3%; */
  }
  .screen-7-contentBox .contentBox{
    padding-top: 0;
    height: 160px;
  }
  .screen-7 .wallet-title p{
    width: 100%;
  }
  .screen-7 .EcosystemBox{
    width: 100%;
  }
  .screen-7-contentBox .imgbox {
    /* width: 100%; */
  }
  .screen-8-contentBox{
    margin: 40px auto 50px;
  }
}
</style>
