<template>
    <div class="service">
        <div class="service-body">
            <el-tabs v-model="activeService" type="card" @tab-click="handleClick">
                <el-tab-pane  v-for="(item,index) in $t('faq.tabList')" 
                    :key="index"
                    :label="item.label" :name="item.name">
                    </el-tab-pane>
            </el-tabs>
        </div>
        <div class="tab-content">
            <ul  @click="sqlDetail">
                <li v-for="(item, index) in $t('faq.kindList')[activeService]"
                :key="index" :data-index="index"  >
                    {{item}}?
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            activeService:"basic",
        }
    },
    methods:{
        handleClick(){
            window.sessionStorage.setItem("activeService",this.activeService);
        },
        sqlDetail(e){
            if(e.target.nodeName.toLowerCase() === 'li'){
                let index = e.target.dataset.index;
                window.sessionStorage.setItem("activeIndex",index)
                console.log(index);
                
                this.$router.push({
                    name:"answer",
                    query:{
                        "index":index,
                        "type":this.activeService
                    }
                })
            }
        },
    },
    mounted:function(){

    },
    activated(){
        let service = window.sessionStorage.getItem("activeService")
        this.activeService = service ? service: this.activeService;
        this.handleClick();
        let lang = this.$route.query.lang;
        if(lang){
            this.$i18n.locale = lang === "en" ? "en" : "cn";
            window.localStorage.setItem("lang", this.$i18n.locale);
        }
    }
}
</script>

<style>
.service{
    width: 100%;
    max-width: 1200px;
    margin: 0  auto;
    min-height: calc(100vh - 270px);
    margin-top: 20px;
}
.service-body{
    padding-top: 20px;
}
.tab-content ul{
    margin: 0;
    padding: 0;
}
.tab-content li{
    padding: 15px 4% ;
    text-align: left;
    border-bottom: 1px solid #e4e7ed;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .service {
        min-height: calc(100vh - 215px);
        margin: 2vh 2% ;
        width: 96%;
    }
    .service-body{
        padding-top: 0;
    }
    .tab-content li {
        text-align: left;
    }
}
</style>
