<template>
    <div class="downIOS downWx">   
        <!-- <div class="downloadBox">
            <div class="imgBox">
                <div>
                   <img src="../../../static/img/new/ios.png" alt="">
                </div>
                <a href="itms-services://?action=download-manifest&url=https://sealwallet.org/downloadApp/manifest.plist">
                    <button class="btn">{{$t('ios.btn')}}</button>
                </a>
            </div>
        </div> -->
        <div class="downContent" v-if=" type === 'sign'">
            <h2>{{$t('ios.sign.title')}}</h2>
            <p v-for="(item,index) in $t('ios.sign.content')" :key="index"> {{item}}</p>
            <div>
                <h3>{{$t('ios.sign.operation.title')}}</h3>
                <div v-for="(item, index) in $t('ios.sign.operation.content')" :key="index" class="item"> 
                    <h4>{{item.title}}</h4>
                    <p v-if="item.src" class="moreImg">
                        <img v-for="(value, key) in item.src" :key="key" :src="value" alt="">
                    </p>
                </div>
            </div>
        </div>
        <div class="downContent" v-if=" type === 'appStore'">
            <h2>{{$t('ios.appStore.title')}}</h2>
            <p v-for="(item,index) in $t('ios.appStore.content')" :key="index"> {{item}}</p>
            <div class="">
                <h3>{{$t('ios.appStore.operation.title')}}</h3>
                <div class="install">
                    <h4 v-html="$t('ios.appStore.operation.content.title')"></h4>
                    <div v-for="(item, index) in $t('ios.appStore.operation.content.srcList')" :key="index">
                        <img :src="item.src" alt="">
                        <p>{{item.txt}}</p>
                    </div>
                    <h4>{{$t('ios.appStore.operation.content.title1')}}</h4>
                </div>
            </div>
            <div class="IDBox" id="getAppleId">
                <h3>{{$t('ios.appStore.ID.title')}}</h3>
                <p v-for="(item,index) in $t('ios.appStore.ID.content0')" :key="index"> {{item}}</p>
                <h4 class="color623">{{$t('ios.appStore.ID.content1.title')}}</h4>
                <p > {{$t('ios.appStore.ID.content1.txt')}}</p>
                <div>
                    <h4 class="color623">{{$t('ios.appStore.ID.getContent.title')}}</h4>
                    <div v-for="(item,index) in $t('ios.appStore.ID.getContent.content')" :key="index" class="getIDBox">
                        <p v-html="item.title"></p>
                        <div :class= {muchImg:item.merge}  v-if="item.src">
                            <img v-for="(value, key) in item.src" :key="key" :src="value" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <el-tooltip class="item" effect="dark" content="Go Back" placement="bottom-start">
            <img src="../../../static/img/new/back.png" alt="" class="goBack" @click="$router.go(-1)">
        </el-tooltip>
    </div>
</template>

<script>
export default {
    data(){
        return{
            isWx: false,
            type:"",
        }
    },
    methods:{
     
    },
    activated(){
        this.type = this.$route.query.type ? this.$route.query.type : "sign";
    }
}
</script>

<style scoped>
.downIOS{
    min-height: calc(100vh - 430px);
    position: relative;
    padding: 30px 5%;
}
.wxShow{
    height: 100vh;
    overflow: hidden;
}
.downloadBox{
    width: 100%;
    height: 100%;
    background-color: #2f4acd;
}
img {
    max-width: 600px;
}
.imgBox {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 5%;
}
.imgBox img{
    width: 40%;
    max-width: 250px;
}
.imgBox .btn{
    width: 40%;
    max-width: 200px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 20px;
    margin: 20px 0; 
    background-color: transparent;
    border: 1px solid #ffffff;
}
.IDBox{
    padding-top:20px;
}
.downContent{
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.downContent h2{
    padding-left:10px;
    border-left: 4px solid #3326b8;
    text-align: left;
}
.downContent h3 {
    text-align: left;
    color: #0983f5;
    margin-bottom: 0;
}
.IDBox .downContent h3 {
    margin-top: 0;
}
.downContent p{
    text-align: left;
    line-height: 1.8em;
    margin-bottom: 0;
}
.item {
    padding: 20px 0 0;
}
.item h4{
    margin: 0;
    font-size: 15px;
    text-align: left;
}
.item p{
    text-align: center;
    margin-top: 5%;
}
.item .moreImg img,
.IDBox .getIDBox .muchImg img {
    width: 47%;
    max-width: 450px;
    margin-right: 4%;
    margin-bottom: 4%;
    vertical-align: top
}
.item .moreImg img:nth-child(2n),
.IDBox .getIDBox .muchImg img:nth-child(2n){
    margin-right: 0;
}
.item:nth-child(1) p img{
    width: auto;
}


.install h4{
    text-align: left;
    font-weight: 500;
}
.install img{
    width: 80%;
    padding: 20px 0 0;
}
.install p{
    text-align: center;
    margin-bottom:20px ;
}
.color623 {
    text-align: left;
    color: #f5a623;
}
.getIDBox img{
    width: 90%;
}
.goBack {
    width: 10%;
    max-width:32px;
    position:fixed;
    top: 10vh;
    right: 4vw;
}
@media screen and (max-width: 768px) {
    .downIOS{
        min-height: calc(100vh - 245px);
        padding-top: 0;
    }
    .downContent{
        padding: 20px 0;
    }
    h4 {
        font-size: 13px;
    }
    .goBack {
        display: none;
    }
}
</style>
