<template>
  <div id="app">
    <head-nav :type="type"></head-nav>
    <keep-alive v-if="isRouterAlive">
      <router-view/>
    </keep-alive>
    <footer-view :type="type"></footer-view>
  </div>
</template>

<script>
import headNav from './components/head'
import footerView from './components/footer'
export default {
  name: 'App',
  provide(){
    return{
      reload:this.reload,
    }
  },
  data (){
    return {
      isRouterAlive : true,
      type: "index"
    }
  },
  components: {
    headNav,
    footerView
  },
  updated(){
    this.type = this.$route.name;
  },
  mounted(){
    let lang = window.localStorage.getItem('lang');
    if(!lang ){
      lang = (navigator.browserLanguage || navigator.language).toLowerCase() === "zh-cn" ? "zh" : "en"
    } 
    this.$i18n.locale = lang ;
  },
  methods:{
    reload(){
      this.isRouterAlive = false;
      this.$nextTick(function (params) {
        this.isRouterAlive = true;
      })
    }
  },
}
</script>

<style>
html,body{
  margin: 0;
  border: 0;
  overflow-x: hidden;
  font-size: 16px;
}
#app {
  font-family: Avenir Light,source_normal,'Source Han Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
  font-size: 14px;
  min-height: 100vh;
}
.el-menu--horizontal>.el-menu-item{
  font-size: 0px;
  padding: 0 10px;
}
.el-menu--horizontal>.el-menu-item a{
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 0 16px;
}
#app .content .el-menu--horizontal>.el-menu-item.is-active{
  border: 0px;
  color: #ffffff;
}
.el-menu--horizontal>.el-menu-item {
  width: auto;
  /* background-color: #3326b8;
  color: #ffffff; */
  height: 80px;
  border: 0;
}
/* .el-menu--horizontal>.el-menu-item:hover,
.el-menu--horizontal>.el-menu-item:active {
  background-color: #3326b8;
  opacity: 0.8;
  color: #ffffff
}  */
/* 清除浮动 */
.clearfloat:after{      
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat{
  zoom: 1;
}

.el-menu .el-submenu__title{
    height: 80px !important;
    line-height: 80px !important;
}
.el-card.is-hover-shadow:hover {
    box-shadow: 0 2px 12px 0 RGBA(84, 115, 249, 0.16);
}

.el-popover {
    text-align: center !important;
}
.fl{
  float: left
}
.fr{
  float: right;
}
ol,ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  border: 0;
  outline: 0;
}
.moveShow{
  display: none;
}
.pcShow{
  display: block;
}
:focus {
  outline: 0;
}
#app::-webkit-scrollbar {
  display: none;
  width: 0;
}
.el-menu--horizontal{
  border: 0;
}
a{
  text-decoration: none;
  text-align: left;
  color:#2c3e50;
}
.btn{
  border-radius: 4px;
  background-color: #008455;
  color: #ffffff;
  padding: 12px;
}
.screen-8 .el-input{
  width: 33.3%;
}
.screen-8 .el-input__inner{
  padding: 0  0 0 40px; 
  border: 0;
  border-radius: 0;
  border-right: 2px solid  #ebf1fc;
} 
.screen-8 .el-input:nth-child(1) .el-input__inner{
   background: url(../static/img/new/name.png) no-repeat;
  background-position:  12px 14px;
}
.screen-8 .el-input:nth-child(2) .el-input__inner{
   background: url(../static/img/new/phone.png) no-repeat;
  background-position:  12px 14px;
}
.screen-8 .el-input:nth-child(3) .el-input__inner{
  border: 0;
  background: url(../static/img/new/email.png) no-repeat;
  background-position:  12px 14px;
}
.screen-8 .el-textarea__inner {
  border: 2px solid #e8effc;
  background:url(../static/img/new/pen.png) no-repeat;
  background-position:10px 10px;
  padding: 10px 40px;
}
.screen-8 .el-textarea__inner:before{
  content: "2222";
  display: inline-block;
  width: 40px;
  height: 40px;
}
.font40{
  font-size: 40px !important;
}
@media screen and (max-width: 768px) {
  #app{
    font-size: 12px;
  }
  .moveShow{
    display: block;
  }
  .pcShow{
    display:  none !important;
  }
  .el-popover{
    min-width: 110px;
  }
  .wxShow{
    height: 100vh;
  }
}
</style>
