<template>
    <div class="download">
        <div class="content clearfloat">
            <div class="txtBox fr"> 
                <h2>{{$t('download.title')}}</h2>
                <p v-html="$t('download.content')" ></p>
                <div class="btnBox pcShow ipadHidden">
                    <p v-html="$t(`download.${model}.hint`)" ></p>
                    <!-- <button class="">{{$t('download.btn')[0]}}</button>
                    <button class="">{{$t('download.btn')[1]}}</button> -->
                    <el-popover placement="top" trigger="hover" v-for="(item,index) in $t(`download.${model}.btn`)" :key="index" class="download-btn">
                        <img class="QRCode" :src="item.link" alt="QRCode">
                        <button class="" slot="reference">{{item.name}}</button>
                    </el-popover>
                </div>
                <div class="moveShow " @click="download">
                    <p v-html="$t(`download.${model}.hint`)" ></p>
                    <button class="btn" v-for="(item, index) in $t(`download.${model}.btn`)" :key="index" :data-url="item.url"> {{item.name}}</button>
                </div>
                <div class="explain"> 
                    <ul >
                        <li v-for="(item,index) in $t(`download.${model}.explain`)"  :key="index" @click=" $router.push({name:item.src,query:{type:item.type}})">
                            {{item.txt}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="imgBox  pcShow fr">
                <img :src="src" alt="">
            </div>
            <div class="wxBox" v-if="isWx">
                <img src="../../static/img/ios/boult.png" alt="" class="boult">
                <div class="title">{{$t('ios.hint.title')}}</div>
                <p>  <img src="../../static/img/ios/Safari.png" alt=""> 
                    <span>{{$t('ios.hint.content')}}</span>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            model:"",
            src:"",
            QRList:"",
            isWx:false,
            browser:"",
        }
    },
    methods:{
        init(){     
            let browser = {
                versions: function () {
                    var u = navigator.userAgent;
                    var app = navigator.appVersion;
                    return {         //移动终端浏览器版本信息
                        trident: u.indexOf('Trident') > -1, //IE内核
                        presto: u.indexOf('Presto') > -1, //opera内核
                        webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                        gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                        mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                        iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                        iPad: u.indexOf('iPad') > -1, //是否iPad
                        webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
                    };
                }(),
                language: (navigator.browserLanguage || navigator.language).toLowerCase()
            }
            
            if (browser.versions.mobile) {//判断是否是移动设备打开。browser代码在下面
                var ua = navigator.userAgent.toLowerCase();//获取判断用的对象
                if (ua.match(/MicroMessenger/i) == "micromessenger") {
                    document.querySelector("body").classList.add("wxShow");
                    document.querySelector(".download").style.height = "100vh";
                    this.isWx = true;
                }
            }
            if(browser.versions.iPad){
                document.querySelector(".download .moveShow").style.display = "block";                
                document.querySelector(".download .ipadHidden").style.display = "none";   
            }
            this.browser = browser;
        },
        download(event){
            let versions = this.browser.versions;
            console.log(versions);
            
            if(!event) return;
                let url = event.target.dataset.url
            if(this.model === "IOS"){
                if(versions.ios || versions.iPad){
                    window.location.href = url;
                }else if(versions.android){
                    alert(this.$t('download.IOS.errorMove'))
                }else {
                    alert(this.$t('download.IOS.errorPC'))
                }
            }else if(this.model === "Android"){
            }
        }
    },
    activated(){
        this.model = this.$route.query.model ? this.$route.query.model : "Android";
        this.src = this.model === "IOS" ? "../../static/img/new/ios.png" : "../../static/img/new/Android.png";
        this.init();
    }
}
</script>

<style scoped>
.download{
    background-color: #2f4acd;
    min-height: calc(100vh - 260px);
    color: #ffffff;
    text-align: left;
}
.content{
    width: 100%;
    max-width: 1200px;
    height: calc(100vh - 260px);
}
.imgBox,
.txtBox {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
}
.imgBox img {
    max-width: 260px;
    width: 95%;
}
.txtBox {
    padding:  0 5% ;
}
.txtBox h2{
    width: 100%;
    font-size: 30px;
    margin-top: 0;
}
.txtBox p,
.btnBox p
{
    font-size: 16px;
    line-height: 1.5em;
    width: 100%;
    margin: 0.8em 0;
}
.QRCode{
  width: 150px;
}
.btnBox {
    width: 100%;
    font-size: 0;
    margin-top: 30px;
}
.txtBox button{
    width: 40%;
    height: 47px;
    background-color: #fff;
    font-size: 14px;
    color: #2f4acd;
    margin-right:30px;
    border-radius:5px;
    cursor: pointer;
}
.txtBox .download-btn:last-child button{
    margin: 0;
}
.txtBox .moveShow {
    width: 100%;
    margin-top: 26px;
    text-align: center;
}
.txtBox .moveShow .btn{
    width: 40%;
    height: 42px;
    padding: 0;
    max-width: 180px;
}
.txtBox .moveShow .btn:last-child{
    margin: 0;
}
.explain {
    width: 100%;
    padding: 2vh 0;
}
.explain li{
    padding: 6px 0;
}
.explain li a{
    display: block;
    height: 2em;
    line-height: 2em;
    color: #ffffff;
}
.wxBox {
    width: 100%;
    height: 100%;
    background-color: #323332;
    position: fixed;
    top: 0;
    left: 0;
}
.wxBox .boult {
    position: absolute;
    width: 20%;
    top:20px;
    right: 20px;
}
.wxBox .title{
    width: 60%;
    font-size: 24px;
    line-height: 1.5em;
    padding: 6%;
    margin:  20vh auto 0;
    border: 2px dashed #ffffff;
    color: #ffffff;
    border-radius: 40%; 
}
.wxBox p {
    color: #ffffff;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    margin-top: 30px;
    text-align: center;
}
.wxBox p span{
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    line-height: 48px;
}
@media screen and (max-width: 750px) {
    .download{
        min-height: calc(100vh - 215px)
    }
    .content{
        height: 100%;
        min-height: calc(100vh - 255px);
        padding: 20px 0;
    }
    .txtBox{
        width: 100%;
    }
    .txtBox h2{
        font-size: 24px;
        text-align: center;
    }
    .txtBox p{
        font-size: 12px;
        text-align: left;
    }
    .txtBox .moveShow{
        margin-top: 6vh;
    }
    .btnBox p{
        font-size: 14px;
    }
    .txtBox button {
        height: 32px;
        font-size: 12px;
        width: 48%;
        margin-right: 5%;
    }
    .QRCode{
        width: 110px;
    }
}
</style>
