<template>
  <div :class="{'menuBox': true, 'otherBgm': type != 'index'}">
    <div class="content">
        <div class="logoBox">
            <img :src="$t('navMenu.logo')" alt="InWeCrypto">
        </div>
        <el-menu :default-active="activeIndex" class="el-menu pcShow" :background-color="type === 'index'? '#038b50' : '#14a969' " text-color="#ffffff"  active-text-color="#ffffff" mode="horizontal" >
            <el-menu-item index="1">
                <router-link to="/"> {{ $t('navMenu.title[0]') }}</router-link>
            </el-menu-item>
            <el-menu-item index="5">
                <router-link to="/service">
                    {{$t('navMenu.title[4]')}}
                </router-link>
            </el-menu-item>
            <el-menu-item index="5"><a href="https://github.com/InWeCrypto" target="_blank">{{ $t('navMenu.title[5]') }}</a></el-menu-item>
            <el-menu-item index="6" @click="SwitchLang()">
                <a href="javascript:;">{{ $t('navMenu.title[6]') }}</a></el-menu-item>
        </el-menu>

        <!-- 移动 -->
        <div class="moveShow toggle">
            <button class="navbar-toggle" @click="showNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="moveNav moveShow" @click="closeNav">
            <el-row class="tac" >
                <el-col :span="24" >
                <el-menu
                    default-active="1"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose"
                    :background-color="type === 'index'? '#038b50' : '#14a969' "
                    text-color="#fff"
                    active-text-color="#ffd04b"
                    >
                    <el-menu-item index="1">
                        <router-link to="/"> {{ $t('navMenu.title[0]') }}</router-link>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <router-link to="/service">{{$t('navMenu.title[4]')}}</router-link>
                    </el-menu-item>
                    <el-menu-item index="6">
                        <span slot="title" ><a  href="https://github.com/InWeCrypto">{{ $t('navMenu.title[5]') }}</a></span>
                    </el-menu-item>
                    <el-menu-item index="7">
                        <a @click="SwitchLang()">
                            {{ $t('navMenu.title[6]') }}
                        </a>
                    </el-menu-item>
                </el-menu>
                </el-col>
            </el-row>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'head1',
    data () {
        return {
            activeIndex: '1',
            showNavs:false,
        }
    },
    props:['type'],
    methods: {
        SwitchLang() {
            this.$i18n.locale === 'zh' ? this.$i18n.locale ='en' : this.$i18n.locale ='zh';
            window.localStorage.setItem("lang", this.$i18n.locale);
            this.$parent.reload();
        },
        handleOpen(key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath);
        },
        showNav(){
            let nav = document.querySelector(".moveNav")
            if(nav.clientHeight===0){
                nav.style.height = "240px";
            }else{
                nav.style.height = "0";
            }
        },
        closeNav(e){
            if(!e)return;
            if(e.target.nodeName.toLowerCase() === 'a' || e.target.nodeName.toLowerCase() === 'span' || e.target.nodeName.toLowerCase() === 'p'){
                setTimeout(()=>{
                    document.querySelector(".moveNav").style.height="0";
                },100)
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.menuBox{
    width: 100%;
    height: 80px;
    background-color: #038b50;
}
.otherBgm{
    background-color: #14a969;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
}
.heAuto{
    height: auto;
}
.logoBox{
    width: 220px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 15px 20px;
    text-align: left;
}
a{
    color:#909399;
    text-decoration: none;
    line-height: 80px;
    transition: .3s;
}
a:hover{
    color:#000000;
}
.logoBox img{
    height: 100%;
}
.el-menu{
    float: right;
    box-sizing: border-box;
    border: 0;
    height: 80px;
}
.el-menu li{
    height: 100%;
    line-height: 80px;
    border: 0;
    text-align: center;
}
.el-menu .el-submenu__title .el-menu-item{
    height: 80px;
    line-height: 80px;
}
.menuBox .moveShow {
    align-items:center;
    justify-content: flex-end;
}
.navbar-toggle {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* .navbar-toggle:hover .icon-bar:first-child{
    display: none;
}
.navbar-toggle:hover .icon-bar:nth-child(2){
    animation: closeBtnTwo 0.2s forwards;
}
.navbar-toggle:hover .icon-bar:nth-child(3){
    animation: closeBtnThreen 0.2s forwards;
} */
@keyframes closeBtnFrist {
    0%{
        display: none;
    }
    100%{
        display: none;
    }
}
@keyframes closeBtnTwo {
    33%{
        /* transform: rotate(-15deg) scaleX(1.1) translateX(-4.56%); */
        transform: rotate(-15deg) scaleX(1.3) translateX(-13%);
    }
    66%{
        /* transform: rotate(-30deg) scaleX(1.2) translateX(-8.3%); */
        transform: rotate(-30deg) scaleX(1.3) translateX(-13%);
    }
    100%{
        /* transform: rotate(-45deg) scaleX(1.3) translateX(-15%); */
        transform: rotate(-45deg) scaleX(1.3) translateX(-13%);
    }
}
@keyframes closeBtnThreen {
    0%{
        margin-top:-2px;
        transform: rotate(0deg) scaleX(1.3) translateX(-13%)
    }
    33%{
        /* transform: rotate(15deg) scaleX(1.1) translateX(-4.56%); */
        transform: rotate(15deg) scaleX(1.3) translateX(-13%)
    }
    66%{
        /* transform: rotate(30deg) scaleX(1.2) translateX(-8.3%); */
        transform: rotate(30deg) scaleX(1.3) translateX(-13%)
    }
    100%{
        /* transform: rotate(45deg) scaleX(1.3) translateX(-13%); */
        transform: rotate(45deg) scaleX(1.3) translateX(-13%)
    }
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffffff;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.moveNav{
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-color: rgb(84, 92, 100);
    color: #ffffff;
    transition: all 0.2s ease-in;
}
.moveNav a{
    color: #ffffff;
    text-align: center
}
.moveNav .ta
.moveNav .el-menu{
    width: 100%;
}
@media screen and (max-width: 768px){
    .menuBox{
        height: auto;
    }
    .logoBox{
        padding-left:3%;
        /* padding-top: 20px; */
        padding: 10px;
        height: 60px;
    }
    .logoBox img{
        height: 90%;
    }
    .el-menu li {
        height: auto;
        width: 100vw;
        line-height: 60px;
    } 
    .menuBox .moveShow.toggle{
        display: flex;
    }
    .el-menu .el-menu-item a{
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 60px;
    }
}
</style>
